* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	 outline: none;
}
html,
body {
	height: 100%;
	
}
body {
	line-height: 16px;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
   font-size: 16px;
background-color: #ffffff;
}
input,
button,
textarea {
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;

}
a {
	color: inherit;
	transition: 0.3s all ease 0.3s;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
	color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
p {
	margin: 5px 0 0 0;
}

.wrapper {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	position: relative;
	overflow-x: hidden;
}
.content-wrapper {
	margin: 205px 0 20px 0;
	max-width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.shadow {
	transition: 0.3s all ease 0.3s;
    box-shadow: 4px 3px 3px rgb(151, 151, 151);
}
.shadow:hover {
	box-shadow: 4px 2px 2px rgb(151, 151, 151);
}
footer {
	margin-top: auto;
}