.header {
    &__burger, &__menu-close {
        background-color: inherit;
        color: $ColorWhite;
        font-size: 30px;
        text-align: right;
        display: none;
        width: 100%;
        order: 1;
        @media (max-width: 980px) {
            display: block;
        }
    }
    &__menu-close {
        order: 0;
        width: 20px;
        transform: rotate(45deg);
        i {
            font-size: 20px;
        }
    }
    &__menu-nav {
        @media (max-width: 980px) {
            order: 1;
            position: fixed;
            z-index: 1500;
            right: 0;
            top: 0;
            width: 300px;
            height: 100%;
            background-color: $ColorHead;
            transform: translate(100%);
            transition: 0.3s all ease 0.3s;
            overflow-x: hidden;
            opacity: 0;
            visibility: hidden;
            display: grid;
            grid-template-rows: 25px auto;
            gap: 20px;
            padding: 10px;
        }
       
    }
    .menu-nav-open {
        transform: translate(0);
        opacity: 1;
        visibility: visible;
    }
    &__menu-list {  
        @media (max-width: 980px) { 
            margin: 0 0 0 20px;
        }
        li {
            display: inline-block;
            color: $ColorWhite;
            transition: 0.3s all ease 0.3s;
            padding: 20px 0;
            i {
                font-size: 14px;
            }
            @media (max-width: 980px) {
                display: block;
            }
        }
        li:not(:first-child) {
            margin: 0 0 0 10px;
            @media (max-width: 980px) {
                margin: 10px 0;
            }
        }
        li:hover,a:hover {
            color: $ColorDuble;
        }
        @media (min-width: 980px) {
          

        .menu-item-has-children {
            position: relative;
    
        }
       .sub-menu {
        font-size: 12px;
        line-height: 14px;
        position: fixed;
        z-index: -100;
        background-color: $ColorWhite;
        left: 21%;
        top: 200px;
        padding: 10px 40px;
        width: auto;
        height: auto;
        border-radius: 3px;
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -300px);
        transition: 0.9s all ease 0.9s;
            li {
                padding: 0;
                color: #333333;
                display: block;
               
            }
            li:not(:first-child) { 
                margin: 10px 0 0 0;
            }
        }
        .menu-item-has-children:hover {
            .sub-menu {
                transform: translate(-50%, 0px);
                opacity: 1;
                visibility: visible;
                box-shadow: 5px 5px 5px rgb(71, 71, 71);
            }
        }
        }
        @media (max-width: 980px) { 
            li {
                padding: 0;
                i {
                    padding: 0  0 0 160px;
                    cursor: pointer;
                   }
            }
            .sub-menu {
                font-size: 12px;
                height: 0;
                visibility: hidden;
                opacity: 0;
            }
            .sub-menu-open {
                margin: 10px 0;
                height: auto;
                visibility: visible;
                opacity: 1;
                
            }
        }
    }
    #mega-menu-wrap-menu-primary #mega-menu-menu-primary > li.mega-menu-flyout ul.mega-sub-menu {
        @media (min-width: 980px) {
        position: fixed;
        }
    }
    #mega-menu-wrap-menu-primary #mega-menu-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu {
        @media (min-width: 980px) {
            position: fixed;
            }
    }
}
